.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--tg-theme-bg-color, #000000);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  will-change: opacity;
}

.placeholder {
  filter: blur(20px);
  transform: scale(1.1); /* Bulanık kenarlıkları gizle */
  will-change: transform; /* GPU hızlandırma */
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
} 