.productCard {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 168px;
  border-radius: 16px;
  overflow: hidden;
  transition:
    transform 0.2s ease-out,
    opacity 0.2s ease-out;
  user-select: none;
  margin: 0 auto;
}

.productCard:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 168px;
  border-radius: 16px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px 0px;
}

.productTitle {
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 400;
  color: var(--tg-theme-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productPrice {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.priceMain {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 700;
  color: var(--tg-theme-text-color);
}

.priceCurrency {
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 400;
  color: var(--tg-theme-hint-color);
}

.cartTag {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(36, 129, 204, 0.9);
  border-radius: 16px;
  padding: 4px;
  z-index: 2;
}
